// Variables
@import 'variables';

html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.sub-title {
    font-size: 3rem;
}
.links {
    padding: 1rem;
    .nav-link {
        border-radius: 0.5em;
        border-style: none;
        font-weight: 600;
        margin: 0.5rem;
        padding: 0.5rem 1rem;
        letter-spacing: .1rem;
        text-decoration: none;
    }
}

.m-b-md {
    margin-bottom: 30px;
}

.sub-page {
    padding: 10px;
    .title {
        font-size: 3rem;
    }
}

// trasition start---------------------------------------------------------------
.v-enter-active, .v-leave-active {
    transition: opacity .5s;
}
.v-enter, .v-leave-to {
    opacity: 0;
}
// trasition end-----------------------------------------------------------------


// Top Page start---------------------------------------------------------------
#top {
    background-color: $main;
    color: white;
    text-align: center;
    .title {
        font-size: 5rem;
    }
    .button-color {
        background-color: white;
        color: $main;
    }
}
// Top Page end-----------------------------------------------------------------


// Skill Page start-----------------------------------------------------------
#skill {
    background: linear-gradient(90deg,$main 0%,$main 30%,white 30%,white 100%);
    .content {
        .title {
            color: white;
        }
        h4 {
            margin-left: 25%;
            background-color: orange;
            color: white;
            display: inline-block;
            padding: 1rem 2rem;
        }
        .detail {
            margin: 2rem 0 2rem 30%;
            padding: 1rem;
            border-bottom: solid 1px $main;
            p {
                margin: 0 1rem;
            }
        }
    }
}
// Skill Page end-------------------------------------------------------------

// History Page start-----------------------------------------------------------
#history {
    background-color: white;
    dl {
        margin: 0.5rem;
        :nth-child(1) {
            border-bottom: orange solid 2px;
        }
        :nth-child(3) {
            border-bottom: green solid 2px;
        }
        :nth-child(5) {
            border-bottom: blue solid 2px;
        }
        :nth-child(7) {
            border-bottom: purple solid 2px;
        }
    }
    .page-content {
        .year {
            width: auto;
            padding: 0.5rem 0;
            margin: 0.5rem 0;
        }
    }
    .button-color {
        background-color: $main;
        color: white;
    }
}
// History Page end-------------------------------------------------------------
